<div class="container">
  <nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
      <ul class="nav nav-pills pull-right">
	<li class="active"><a href="{{ site.linked_in_url }}">Join</a></li>
      </ul>
      <div class="navbar-header">
	<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#nv_navbar">
	  <span class="sr-only">Toggle navigation</span>
	  <span class="icon-bar"></span>
	  <span class="icon-bar"></span>
	  <span class="icon-bar"></span>
	</button>
	<a class="navbar-brand nv_logo" href="/">&nbsp;</a>
      </div>
      <div class="collapse navbar-collapse  pull-right" id="nv_navbar">
	<ul class="nav nav-pills">
	  <li><a href="/en/clients.html">Clients</a></li>
	  <li><a href="/en/providers.html">Providers</a></li>
	</ul>
      </div>
    </div>
  </nav>
