<div class="jumbotron">
  <h2>The Cloud Needs Airbags</h2>
  <p>You think your photos, emails, documents, and videos are stored safely in
  the cloud.  They aren't.</p>
  <p>Mat Honan's <a href="http://n99.us/cbn">digital life was
  destroyed</a> in a matter of hours.  On June 17th,
  an extortionist <a href="http://n99.us/pth">destroyed an entire
  company</a>.</p>
  <p>Your car has an airbag to protect you from crashes.  Your computer
    has a trash can so you can undo mistakes.  When disaster strikes,
    cloud services <a href="#nv-solution">need better safeguards</a> to
  protect your data.</p>
  <p><a class="btn btn-lg btn-success nv_join_button" href="{{ site.linked_in_url }}" role="button">Join Us</a></p>
</div>
