<div class="jumbotron">
  <h2>Stop Virtually Assured Destruction</h2>
  <p>We promote sensible cyber safeguards for cloud services to prevent virtually assured destruction by criminals and terrorists.</p>
  <p>If you use the web, you should <a href="{{ site.linked_in_url }}">join our LinkedIn Group</a>. We are using LinkedIn to show that <b>real people</b> &mdash; users like you from <i>all walks of life</i> &mdash; want better data protection.</p>
  <p><a class="btn btn-lg btn-success" href="{{ site.linked_in_url }}" role="button">Please Join Now</a></p>
</div>
